# ====================
# DATA FILES TO IGNORE
# ====================
data/**/*.tsv
data/**/*.csv
data/**/*.json
data/**/*.tar.gz
data/**/*.zip

# ====================
# MODEL / TEMP FILES
# ====================
*.pkl
*.joblib

# ============================
# METRICS DIRS (keep empty)
# ============================
metrics/metrics_raw/*
!metrics/metrics_raw/.gitkeep

metrics/top10/*
!metrics/top10/.gitkeep

metrics/cd_index/*
!metrics/cd_index/.gitkeep

metrics/metricAnalysis/*
!metrics/metricAnalysis/.gitkeep

# Optionnel : ignorer tous les autres fichiers dans metrics/
metrics/*/*
!metrics/.gitkeep

# ====================
# PYTHON CACHE & LOGS
# ====================
__pycache__/
*.py[cod]
*.log

# ====================
# ENVIRONMENT FILES
# ====================
venv/
.env/

# ====================
# EDITOR / OS FILES
# ====================
.DS_Store
*.swp
*.bak
*.tmp
*.~*

# ====================
# JUPYTER
# ====================
*.ipynb_checkpoints/
