# ====================
# DATA FILES TO IGNORE
# ====================
# Ignore all files in data/ and subfolders
data/**/*
# But do not ignore directories themselves
!data/**/
# And do not ignore any .gitkeep files (optional, to keep empty folders)
!data/**/.gitkeep
data/app_pat_match/full/

# ====================
# MODEL / TEMP FILES
# ====================
*.pkl
*.joblib

# ============================
# METRICS DIRS (keep empty)
# ============================
# Ignore all files in metrics/ and subfolders
metrics/**/*
# Keep all directories
!metrics/**/
# Keep .gitkeep files to preserve empty folder structure
!metrics/**/.gitkeep


# ====================
# PYTHON CACHE & LOGS
# ====================
__pycache__/
*.py[cod]
*.log

# ====================
# ENVIRONMENT FILES
# ====================
venv/
.env/

# ====================
# EDITOR / OS FILES
# ====================
.DS_Store
*.swp
*.bak
*.tmp
*.~*

# ====================
# JUPYTER
# ====================
*.ipynb_checkpoints/
